body {font-family: Arial, Helvetica, sans-serif;}

table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 45px;     width: 90%; text-align: left;    border-collapse: collapse; }

th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: rgb(6, 17, 39); text-align: center; }

td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent;text-align: center }

tr:hover td { background: #d0dafd; color: #339; }

h3,h1{
    color:#339;
    text-align: center;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #339;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  select {
    width: 50%;
    padding: 15px 15px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }

  input[type=text],input[type=number] {
    width: 50%;
    padding: 15px 15px;
    border: 2px solid #f1f1f1;
    border-radius: 4px;
  }

  label{
    width: 50%;
    padding: 15px 15px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }

  a{
    width: 50%;
    padding: 15px 15px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }
  
